{
  "plugins": [
    "syntax-dynamic-import",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "presets": [
    "es2015",
    "stage-0"
  ],
  "env": {
    "server": {
      "plugins": [
        "syntax-dynamic-import",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ],
      "presets": [
        "es2015",
        "stage-0"
      ]
    },
    "scripts": {
      "presets": [
        "es2015",
        "stage-0"
      ]
    }
  }
}
