{
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "./plugins/babelRelayPlugin"
  ],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-runtime",
        "syntax-dynamic-import",
        "./plugins/babelRelayPlugin",
      ],
      "presets": [
        "es2015",
        "react",
        "stage-0"
      ],
    },
    "server": {
      "plugins": [
        "syntax-dynamic-import",
      ],
      "presets": [
        "es2015",
        "react",
        "stage-0"
      ],
    },
    "HMR": {
      "plugins": [
        "transform-runtime",
        "syntax-dynamic-import",
        "./plugins/babelRelayPlugin",
      ],
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "react",
        "stage-0"
      ],
    },
    "scripts": {
      "presets": [
        "es2015",
        "stage-0"
      ]
    }
  }
}
